= render :partial => "conversations/conversation_header", locals: {other_party: conversation_data[:other_person]}

.centered-section-wide
  = render :partial => "conversations/messages_and_form", locals: {role: :participant, message_form: message_form, message_form_action: message_form_action, messages: messages}


  
%script{:src => "https://www.gstatic.com/firebasejs/3.6.1/firebase.js"}
:javascript
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAmzQbCOTI58tmUqsuia3uUfUClvRzu6zM",
    authDomain: "vendoradvisor-4df3f.firebaseapp.com",
    databaseURL: "https://vendoradvisor-4df3f.firebaseio.com",
    storageBucket: "vendoradvisor-4df3f.appspot.com",
    messagingSenderId: "795403313668"
  };
  firebase.initializeApp(config);
  var dbrefSB = firebase.database().ref().child('sharetribe_beep');
  dbrefSB.on('value' , function(snap){
    obj = snap.val();
    $.each(obj , function( key , element ){
    console.log( 'Beep' , element );
    });

  });