.container
  .banner
    .row
      .col-md-4.col-sm-4.col-xs-12.slider
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          / Wrapper for slides
          .carousel-inner{:role => "listbox"}
            -if @first_slider_images.present?
              -@first_slider_images.each_with_index do |image , i|
                -if i == 0
                  .item.active
                    %img.img-responsive{:alt => "...", :src => asset_path(image.image.url(:original))}
                -else  
                  .item
                    %img.img-responsive{:alt => "...", :src => asset_path(image.image.url(:original))}
            -else
              .item.active
                %img.img-responsive{:alt => "...", :src => asset_path('index/No_image_available.png')}
              .item
                %img.img-responsive{:alt => "...", :src => asset_path('index/No_image_available.png')}
          / Controls
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
      .col-md-4.col-sm-4.col-xs-12.slider
        #carousel-example-generic1.carousel.slide{"data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic1"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic1"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic1"}
          / Wrapper for slides
          .carousel-inner{:role => "listbox"}
            -if @second_slider_images.present?
              -@second_slider_images.each_with_index do |image , i|
                -if i == 0
                  .item.active
                    %img.img-responsive{:alt => "...", :src => asset_path(image.image.url(:original))}
                -else  
                  .item
                    %img.img-responsive{:alt => "...", :src => asset_path(image.image.url(:original))}
            -if !@second_slider_images.present?
              .item.active
                %img.img-responsive{:alt => "...", :src => asset_path('index/No_image_available.png')}
              .item
                %img.img-responsive{:alt => "...", :src => asset_path('index/No_image_available.png')}
          / Controls
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic1", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic1", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
      .col-md-4.col-sm-4.col-xs-12.slider
        #carousel-example-generic2.carousel.slide{"data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic2"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic2"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic2"}
          / Wrapper for slides
          .carousel-inner{:role => "listbox"}
            -if @third_slider_images.present?
              -@third_slider_images.each_with_index do |image , i|
                -if i == 0
                  .item.active
                    %img.img-responsive{:alt => "...", :src => asset_path(image.image.url(:original))}
                -else  
                  .item
                    %img.img-responsive{:alt => "...", :src => asset_path(image.image.url(:original))}
            -if !@third_slider_images.present?
              .item.active
                %img.img-responsive{:alt => "...", :src => asset_path('index/No_image_available.png')}
              .item
                %img.img-responsive{:alt => "...", :src => asset_path('index/No_image_available.png')}
          / Controls
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic2", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic2", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next

  / Products
  .container.featured-area
    .col-md-12
      .row
        %h2 Today's Featured Collections
        - @listings.try(:each) do |listing|
          -if is_featured(listing.id)
            - list = get_image_url(listing)
            .col-md-6.col-sm-12.col-xs-12
              .col-md-12.col-sm-12.col-xs-12
                .row
                  .col-md-9.col-sm-9.col-xs-9.padding-0
                    %a{:href => listing_path(set_path(listing.id))}
                      %img.img-responsive.img-featured{:alt => "", :src => list.first}/
                  .col-md-3.col-sm-3.col-xs-3.padding-0
                    %ul.featured-list
                      - if list.second
                        %li
                          %a{:href => listing_path(set_path(listing.id)) }
                            %img.img-responsive{:alt => "", :src => list.second}/
                      -if list.third
                        %li
                          %a{:href => listing_path(set_path(listing.id))}
                            %img.img-responsive{:alt => "", :src => list.third}/
                      - if list.fourth
                        %li
                          %a{:href => listing_path(set_path(listing.id))}
                            %img.img-responsive{:alt => "", :src => list.fourth}/    
              .col-md-12.col-sm-12.col-xs-12
                .row
                  .padding-left-0.col-md-9.col-sm-9.col-xs-9
                    %a.title{:href => listing_path(set_path(listing.id)) } #{listing.title}
                    .featured-textarea
                      %p #{ listing.description}

                  .padding-right-0.col-md-3.col-sm-3.col-xs-3
                    %ul.details
                      %li 
                        - if listing.author
                          %a{:href => person_path(listing.author.username)} #{listing.author.username}
                      %li US #{listing.price}$
                      %li
                        %a{:href => listing_path(set_path(listing.id)) } Show now
                        
/ - @listings.each do |listing|
/   = render :partial => "layouts/grid_item_listing_image", :locals => {:listing => listing, :modifier_class => ""}
/   = listing.inspect

